@media screen and (max-width: 768px){
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .row{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .lessons .col {
        width: 100%;
    }
    .steps .col{
        width: 100%;
    }
    .why-us .col-left {
        width: 100%;
    }
    .why-us .col-right{
        width: 100%;
    }

}